@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Andriushyn A.A.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Worldwide Library!</h2>
        <p>
            Special books especially for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Having problems?</h2>
        <p>You can write your review here.</p>
        <p><a class="btn btn-default" href="https://www.google.com/intl/ru/gmail/about/">My gmail is aleksroebuck@gmail.com</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download my laboratory work from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/AleksAndriushyn/Library">Project</a></p>
    </div>
</div>
